.contact{
    border:  2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
   


}
.form{
 
    height: 65vh;
    width: 50%;
    z-index: 1;
   background-color: white;

}
.form-top{
  
    
  display: flex;
  
   
}
.form input {
    width: 60%;
}
.form-bottom{
 
    background-color: white;
    height: 20vh;
    
}
.form-top form {
    background-color: white;
}
.form-bottom{
    display: flex;
    justify-content: space-around;
}
.inscription-buttom{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 10px ;
  font-weight: bolder;
  color: white;
  box-shadow: -2px 1px   0px  black;
  cursor: pointer;
}
form {
  
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center ;
    height: 40vh;

}
form input {
    padding: 15px ;
    border-radius: 10px ;
    
    border:2px solid red;
   
}
form input:hover{
    border-color: red;
}
.incription-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}
.forget-pasword{
    background-color: white;
}
.forget-pasword a {
    background-color: white;
    text-decoration: none;
}

.inscription-buttom a {
 
    text-decoration: none;
}
.form-bottom{
   
    width: 90%;
    padding-left: 60px;
}