*{
    padding-inline-start: 0px;
    box-sizing: border-box;
}
.Footer{
    border: 8px solid rgb(68, 187, 76);
    display: flex;
    justify-content: space-around;
   padding-bottom: 30px ;
   background-color: black;
}
.footer-elements{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    background-color: black;
   
    
}
.footer-element-down{
    display: flex;
    border: 3px solid rgba(221, 255, 0, 0.34);
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    background-color: blue;
}
.footer-element-up{
 color: white;
 background-color: black;
}
.footer-element-down a {
    text-decoration: none;
    color: rgb(68, 187, 76);
    
}
.alone{
    border: 3px solid black;
    justify-content: center;
  

}
.alone a{
    color: rgb(68, 187, 76);
    text-decoration: none;
}

.social-media{
    border:  9px solid blue;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.socia{
    width: 15%;
    
}
.social-media-box{
    cursor: pointer;
}
