*{
    padding: 0px;
    box-sizing: border-box;
    /*background-color: #FF9800;*/
}
:root {
    
    --GeneralColor:#FF9800;

}
.first-part {
   
    height: 75vh;
    
}
.first-part img {
    width: 100%;
    height: 100%;
}
.home-open{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--GeneralColor);
    
}
.trait-vide{
    border: 2px solid rgb(14, 0, 0);
    width: 8%;
    margin-top: 30px;
    margin-left: 10Px;
}
.second-part h1{
    color: var(--GeneralColor);
    font-weight: bolder;
    margin-top: 20px;
}
.second-part{

}
.second-part p {
  
    width: 65%;
    margin-top: 50px ;
    margin-left: 10px;
    font-size: 18px;
    font-weight:400;
}
.offer-open{
   
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: rgb(17, 227, 227);
    margin-bottom: 50px;
}
.third-part{
    margin-top: 130px;
}
.offer-list{
    
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 232);
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    padding: 50px 50px 50px 50px ;
}
.offer-one{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px ;
}
.left{
    
    display: flex;
flex-direction: column; 
width: 50%;

}
.left-box {
   
    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
   
    width: 48%;
}

.two{
    justify-content: space-around;
}
.offer-list a{
    text-decoration: none;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 120px;
    border-color: darkgrey 2px solid;
    background-color: white;
}